In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\samir\Downloads\real\realtor-data.zip.csv")

In [3]:
data.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [5]:
data.drop(['status','acre_lot','city','zip_code','prev_sold_date'],inplace=True,axis=1)

In [7]:
data.head()

   bed  bath        state  house_size     price
0  3.0   2.0  Puerto Rico       920.0  105000.0
1  4.0   2.0  Puerto Rico      1527.0   80000.0
2  2.0   1.0  Puerto Rico       748.0   67000.0
3  4.0   2.0  Puerto Rico      1800.0  145000.0
4  6.0   2.0  Puerto Rico         NaN   65000.0

In [8]:
import numpy as np

In [9]:
np.min(data['house_size'])

4.0

In [10]:
data.isnull().sum()

bed           371702
bath          387441
state              0
house_size    680470
price            271
dtype: int64

In [11]:
data.dropna(inplace=True)

In [12]:
data.isnull().sum()

bed           0
bath          0
state         0
house_size    0
price         0
dtype: int64

In [14]:
data.shape

(1726409, 5)

In [15]:
data.head(2)

   bed  bath        state  house_size     price
0  3.0   2.0  Puerto Rico       920.0  105000.0
1  4.0   2.0  Puerto Rico      1527.0   80000.0

In [16]:
np.min(data['bed'])

1.0

In [17]:
np.max(data['bed'])house_size

99.0

In [18]:
np.min(data['bath'])

1.0

In [19]:
np.max(data['bath'])

198.0

In [20]:
np.max(data['house_size'])

1560780.0

In [22]:
np.min(data['house_size'])

4.0

In [29]:
data.head(2)

   bed  bath        state  house_size     price
0  3.0   2.0  Puerto Rico       920.0  105000.0
1  4.0   2.0  Puerto Rico      1527.0   80000.0

In [42]:
data.drop(data[data['house_size']<487].index,axis=0,inplace=True)

In [44]:
data.head()

   bed  bath        state  house_size     price
0  3.0   2.0  Puerto Rico       920.0  105000.0
1  4.0   2.0  Puerto Rico      1527.0   80000.0
2  2.0   1.0  Puerto Rico       748.0   67000.0
3  4.0   2.0  Puerto Rico      1800.0  145000.0
5  4.0   3.0  Puerto Rico      2520.0  179000.0

In [46]:
data[data['house_size']<487]

Empty DataFrame
Columns: [bed, bath, state, house_size, price]
Index: []

In [47]:
data.shape

(1720544, 5)

In [48]:
data[data['house_size']>178926]

         bed  bath         state  house_size      price
10328    5.0   6.0   Puerto Rico   1450112.0  8250000.0
475143   6.0   3.0    New Jersey    400149.0   489999.0
479983   6.0   3.0    New Jersey    400149.0   489999.0
1161246  3.0   3.0      New York    352836.0   419000.0
1183361  3.0   3.0      New York    352836.0   419000.0
1197791  3.0   3.0      New York    352836.0   419000.0
1199278  3.0   3.0      New York    352836.0   419000.0
1210614  3.0   3.0      New York    352836.0   419000.0
1215219  3.0   3.0      New York    352836.0   419000.0
1220188  3.0   3.0      New York    352836.0   419000.0
1222364  3.0   3.0      New York    352836.0   419000.0
1222994  3.0   3.0      New York    352836.0   419000.0
1224064  3.0   3.0      New York    352836.0   419000.0
1224972  3.0   3.0      New York    352836.0   419000.0
1226150  3.0   3.0      New York    352836.0   419000.0
1227984  3.0   3.0      New York    352836.0   419000.0
1228614  3.0   3.0      New York    352836.0   419000.0
1229916  3.0   3.0      New York    352836.0   419000.0
1231748  3.0   3.0      New York    352836.0   419000.0
1232504  3.0   3.0      New York    352836.0   419000.0
1234126  3.0   3.0      New York    352836.0   419000.0
1235550  3.0   3.0      New York    352836.0   419000.0
1237273  3.0   3.0      New York    352836.0   419000.0
1237944  3.0   3.0      New York    352836.0   419000.0
1240127  3.0   3.0      New York    352836.0   419000.0
1241053  3.0   3.0      New York    352836.0   419000.0
1241764  3.0   3.0      New York    352836.0   419000.0
1243647  3.0   3.0      New York    352836.0   419000.0
1243801  3.0   3.0      New York    352836.0   419000.0
1246377  3.0   3.0      New York    352836.0   419000.0
1247259  3.0   3.0      New York    352836.0   419000.0
1248602  3.0   3.0      New York    352836.0   419000.0
1253804  3.0   3.0      New York    352836.0   419000.0
1256115  3.0   3.0      New York    352836.0   419000.0
1257245  3.0   3.0      New York    352836.0   419000.0
1272438  3.0   3.0      New York    352836.0   419000.0
2043839  5.0   2.0  Pennsylvania   1560780.0   289999.0
2058645  5.0   2.0  Pennsylvania   1560780.0   289999.0
2071886  5.0   2.0  Pennsylvania   1560780.0   289999.0
2084401  5.0   2.0  Pennsylvania   1560780.0   289999.0

In [49]:
data.drop(data[data['house_size']>178926].index,axis=0,inplace=True)

In [51]:
data[data['house_size']>178926]

Empty DataFrame
Columns: [bed, bath, state, house_size, price]
Index: []

In [52]:
data.shape

(1720504, 5)

In [53]:
data.head()

   bed  bath        state  house_size     price
0  3.0   2.0  Puerto Rico       920.0  105000.0
1  4.0   2.0  Puerto Rico      1527.0   80000.0
2  2.0   1.0  Puerto Rico       748.0   67000.0
3  4.0   2.0  Puerto Rico      1800.0  145000.0
5  4.0   3.0  Puerto Rico      2520.0  179000.0

In [54]:
data['state'].unique()

array(['Puerto Rico', 'Virgin Islands', 'Massachusetts', 'Connecticut',
       'New Jersey', 'New York', 'New Hampshire', 'Vermont',
       'Rhode Island', 'Wyoming', 'Maine', 'Georgia', 'Pennsylvania',
       'West Virginia', 'Delaware', 'Ohio', 'California', 'Maryland',
       'Virginia', 'Colorado', 'District of Columbia'], dtype=object)

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
lable=LabelEncoder()
data['state']=lable.fit_transform(data['state'])

In [57]:
data.head()

   bed  bath  state  house_size     price
0  3.0   2.0     14       920.0  105000.0
1  4.0   2.0     14      1527.0   80000.0
2  2.0   1.0     14       748.0   67000.0
3  4.0   2.0     14      1800.0  145000.0
5  4.0   3.0     14      2520.0  179000.0

In [76]:
mapping=dict(zip(lable.classes_,lable.transform(lable.classes_)))

In [63]:
features=data.drop('price',axis=1)
target=data.price

In [62]:
features.head()

   bed  bath  state  house_size
0  3.0   2.0     14       920.0
1  4.0   2.0     14      1527.0
2  2.0   1.0     14       748.0
3  4.0   2.0     14      1800.0
5  4.0   3.0     14      2520.0

In [64]:
target

0          105000.0
1           80000.0
2           67000.0
3          145000.0
5          179000.0
             ...
2501583    295000.0
2501584    475000.0
2501586    699000.0
2501605    159900.0
2501608    300000.0
Name: price, Length: 1720504, dtype: float64

In [65]:
from sklearn.model_selection import train_test_split

In [67]:
X_train, X_test, y_train, y_test=train_test_split(features,target,test_size=0.2)

In [68]:
from sklearn.tree import DecisionTreeRegressor

In [69]:
model=DecisionTreeRegressor()
model.fit(X_train,y_train)

DecisionTreeRegressor()

In [70]:
model.score(X_test,y_test)

0.8381790765810998

In [71]:
import pickle

In [72]:
with open("pickel_model",'wb') as f:
    pickle.dump(model,f)

In [73]:
!cd

C:\Users\samir\data sciecne project

In [74]:
np.min(features['house_size'])

487.0

In [75]:
np.max(features['house_size'])

156244.0

In [80]:
mapping

{'California': 0,
 'Colorado': 1,
 'Connecticut': 2,
 'Delaware': 3,
 'District of Columbia': 4,
 'Georgia': 5,
 'Maine': 6,
 'Maryland': 7,
 'Massachusetts': 8,
 'New Hampshire': 9,
 'New Jersey': 10,
 'New York': 11,
 'Ohio': 12,
 'Pennsylvania': 13,
 'Puerto Rico': 14,
 'Rhode Island': 15,
 'Vermont': 16,
 'Virgin Islands': 17,
 'Virginia': 18,
 'West Virginia': 19,
 'Wyoming': 20}

In [81]:
with open('pickel_model','rb')as f:
    model=pickle.load(f)

In [82]:
model.predict([[1,2,3,4]])

C:\Users\samir\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([130000.])